*{margin:0;padding:0;}

body{background:#320606;text-align:center;}

header{background:#170101;height:37px;padding-top:38px;}

#name{float:left;margin-left:64px;margin-top:-22px;height:50px;color:#ffffff;font-size:34px;text-align:center;}

#clear{border:0;clear:both;}

video{margin-top:35px;margin-bottom:30px;}

#span2{margin-left:60px;}

footer{background:#170101;height:80px;line-height:80px;color:#ffffff;}






