<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8"/>
    <meta name="Keywords" content="三星生态"/>
    <meta name="Description" content="三星生态"/>
    <title>三星生态</title>
    <link rel="stylesheet" href="{{ site.url }}/css/sxBase.css"/>
    <link rel="stylesheet" href="{{ site.url }}/css/page.css"/>
    <script src="{{ site.url }}/js/jquery-2.0.3.min.js"></script>
  </head>
  <body>
    <header>
      <div class="title">
        <span class="span1">三星生态</span>
        <span class="span2"></span>
      </div>      
      <nav>          
        <ul>
          <li class="shou">
            <a href="{{ site.url }}/sx/greens">蔬菜</a>
          </li>
　　  <li class="te">
            <a href="{{ site.url }}/sx/fruits">水果</a>
          </li>
          <li class="st">
            <a href="{{ site.url }}/sx/park">生态园</a>
          </li>
　　  <li class="pp">
            <a href="{{ site.url }}/sx/brand">品牌介绍</a>
          </li>
        </ul> 
      </nav>      
    </header>    
      {{ content }}
      <script>
        $(function(){
          var w=$(window).width();
          $('.image').css('width',w);
        });
      </script>
    <footer>
      <div id="foot">
        <div class="aa">
          <a href="">网站介绍</a>
        </div>
        <div class="bb">
          <a href="">免责声明</a>
        </div>
        <div class="bb" id="bb">
          <a href="{{ site.url }}/contact">联系我们</a>
        </div>
        <div id="bei">Copyright © 2014 三星生态</div>       
      </div>
    </footer>   
  </body>
</html>
