<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8"/>
    <meta name="Keywords" content="三星生态"/>
    <meta name="Description" content="三星生态"/>
    <title>三星生态</title>
    <link rel="stylesheet" href="{{ site.url }}/css/sxmBase.css"/>
    <link rel="stylesheet" href="{{ site.url }}/css/page.css"/>
    <script src="{{ site.url }}/js/jquery-2.0.3.min.js"></script>
  </head>
  <body>
    <header>
      <div class="title">
        <span class="span1">三星生态</span>
      </div>      
      <nav>          
        <ul>
          <li class="shou">
            <a href="{{ site.url }}/sxm/greens">绿色蔬菜</a>
          </li>
          <li class="te">
            <a href="{{ site.url }}/sxm/park">礼品蔬菜</a>
          </li>
　　  <li class="te">
            <a href="{{ site.url }}/sxm/fruits">南方水果</a>
          </li>
　　  <li class="te">
            <a href="{{ site.url }}/sxm/brand">品牌认证</a>
          </li>
        </ul> 
      </nav>      
    </header>    
      {{ content }}
      <script>
        $(function(){
          var w=$(window).width();
          $('.image').css('width',w);
        });
      </script>
    <footer>
      <div id="foot">
        <div id="bei">Copyright © 2015 三星生态</div>       
      </div>
    </footer>   
  </body>
</html>
