<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8"/>
    <meta name="Keywords" content="玖康乐"/>
    <meta name="Description" content="玖康乐"/>
    <title>玖康乐</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/zhBase.css"/>
    <script src="{{STATIC_URL}}js/jquery-2.0.3.min.js"></script>
  </head>
  <body>
    <header>
      <div class="title">
        <span class="span1">玖康乐</span>
        <span class="span2">老年团购商城</span>
      </div>      
      <nav>          
        <ul>
          <li class="shou">
            <a href="/zhIndex/">首页</a>
          </li>
          <li class="te">
            <a href="/nutrition/">营养保健</a>
          </li>
          <li class="te">
            <a href="/jxsp1/">精选食品</a>
          </li>
　　  <li class="te">
            <a href="/jjyp/">居家用品</a>
          </li>
          <li class="te">
            <a href="/jkhl/">健康护理</a>
          </li>
　　  <li class="te">
            <a href="/zbys/">滋补养生</a>
          </li>
          <li class="te">
            <a href="/jllp/">敬老礼品</a>
          </li>                                  
          <li class="te">
            <a href="">商品分类</a>
          </li>
        </ul> 
      </nav>      
    </header>
      {{ content }}
    <footer>
      <div id="foot">
        <div class="aa">
          <a href="">网站介绍</a>
        </div>
        <div class="bb">
          <a href="">免责声明</a>
        </div>
        <div class="bb" id="bb">
          <a href="/zhContact/">联系我们</a>
        </div>
        <div id="bei">Copyright © 2014 玖康乐&nbsp;&nbsp;&nbsp;&nbsp;辽ICP备10204930号-6</div>       
      </div>
    </footer>   
  </body>
</html>
